<div class="block1">

    <app-nav></app-nav>

    <div class="citata">
        <p>"Для корабля, который не знает, куда плывет, ни один ветер не будет попутным."</p>
        <p>Луций Анней Сенека</p>
    </div>

    <div class="mainForGalery">
        <div class="miniGalery">
            <div class="miniPic">
                <img src={{futon1}} alt="футон" (click)='changeImg("../../assets/pic/f6.jpg")'>
            </div>
            <div class="miniPic">
                <img src={{futon2}} alt="футон" (click)='changeImg("../../assets/pic/f2.JPG")'>
            </div>
            <div class="miniPic">
                <img src={{futon3}} alt="футон" (click)='changeImg("../../assets/pic/f3.JPG")'>
            </div>
            <div class="miniPic">
                <img src={{futon4}} alt="футон" (click)='changeImg("../../assets/pic/f4.JPG")'>
            </div>
        </div>
    
        <!-- The expanding image container -->
        <div class="fullPic">
    
            <!-- Expanded image -->
            <img id="expandedImg" [src]="fullImg">
    
            <!-- Image text -->
            <div id="imgtext"></div>
        </div>

        <div class="descr">
            <h2>Футон</h2>
            <h3>280грн</h3>
            <ul class="pay-list">
                <li>Ширина 250см</li>
                <li>Длинна 250см</li>
                <li>Материал - мебельная или спецткань</li>
                <li>Наполнитель - ватин</li>
            </ul>
            <p>Данные изделия изготавливаются под заказ. Если вы хотте приобрести такую подушку, оставьте свои контактные данные, администратор обязательно с вами свяжется для уточнения деталей.</p>
            <button id="addCartBtn">Добавить в корзину</button>
        </div>
    </div>
    
</div>

<app-footer></app-footer>

<ng-content></ng-content>
