<div class="block1">

    <app-nav></app-nav>

    <div class="citata">
        <p>"Осознавать - значит жить, не беспокоясь о несовершенстве."</p>
        <p>третий патриарх Дзэн Сосан</p>
    </div>
    <div class="cartContainer">
        <p>Ваша корзина пока пуста. Чтобы начать покупки перейдите в раздел <a href="/products">товаров.</a> </p>
        <!-- <a href="/products"><button>Посмотреть все товары</button></a> -->

        <div class="col-4  bg-light ">{{img}}</div>
        <div class="col-4  ">{{title}}</div>
        <div class="col-2 ">{{amount}}</div>
        <div class="col-2 ">{{price}}</div>
        <button class=" col-1 btn-primary">Оформить заказ</button>

    </div>
    
    
</div>

<app-footer></app-footer>
