<div class="block1">

    <app-nav></app-nav>

    <div class="citata">
        <p>"Не красота вызывает любовь."<br>Любовь заставляет нас видеть во всём красоту.</p>
        <p>Лев Толстой</p>
    </div>

    <div class="infotag">
        <button class="accordion">Доставка</button>
        <div class="panel">
          <p>Ответ на Вопрос 1...</p>
        </div>
        <button class="accordion">Оплата</button>
        <div class="panel">
          <p>Ответ на Вопрос 2...</p>
        </div>
        <button class="accordion">Полезные свойства шелухи</button>
        <div class="panel">
          <p>Ответ на Вопрос 3 ...</p>
        </div>
        <button class="accordion">Зачем нужна подушка для медитации</button>
        <div class="panel">
          <p>Ответ на Вопрос 3 ...</p>
        </div>
    </div>

    <div class="medit-man">
        <img src="../../assets/pic/man2.png" alt="meditation" class="man">
        <img src="../../assets/pic/shadow.png" alt="shadow" class="shadow">
    </div>
    
</div>

<app-footer></app-footer>
