<div class="block1">

    <app-nav></app-nav>

    <div class="citata">
        <p>"Счастье человека где-то между свободой и дисциплиной."</p>
        <p>Иван Павлов</p>
    </div>
    <div class="main-text">
        <h1>Подушки с гречневй шелухой</h1>
        <div>
            <p class="show-text1">Для равновесия в медитации</p>
            <p class="show-text2">Для спокойного сна</p>
            <p class="show-text3">Для самого уютного декора</p>
        </div>
    </div>
</div>

<app-footer></app-footer>